.text {
  margin: 0;
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.4;
  text-align: inherit;
  user-select: inherit;
  pointer-events: inherit;
  white-space: inherit;
  color: gray;
}

.block {
  display: block;
}

.uppercase {
  text-transform: uppercase;
}
  
.wrapText {
  overflow: hidden;
}